<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
  
<configuration>
	<typeAliases>
		<typeAlias type="com.home.middle.product.ProductDTO" alias="ProductDTO"/>
		<typeAlias type="com.home.middle.product.ProductOptionDTO" alias="ProductOptionDTO"/>
		<typeAlias type="com.home.middle.product.ProductImgDTO" alias="ProductImgDTO"/>
		<typeAlias type="java.lang.Long" alias="Long"/>
  		
	</typeAliases>
</configuration>