<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
  
<configuration>
	<typeAliases>
  		<typeAlias type="com.home.middle.product.ProductDTO" alias="ProductDTO" />
  		<typeAlias type="com.home.middle.product.ProductImgDTO" alias="ProductImgDTO" />
  	    <typeAlias type="com.home.middle.product.ProductOptionDTO" alias="ProductOptionDTO" />
  	    
  	    
  	    
  	    <typeAlias type="com.home.middle.board.BbsDTO" alias="BbsDTO" />
  	    <typeAlias type="com.home.middle.board.boardCommentDTO" alias="boardCommentDTO" />
  	    <typeAlias type="com.home.middle.board.BoardFileDTO" alias="BoardFileDTO" />
  	    <typeAlias type="com.home.middle.board.review.ReviewDTO" alias="ReviewDTO" />
  	     <typeAlias type="com.home.middle.board.qna.QnaDTO" alias="QnaDTO" />
 			<typeAlias type="com.home.middle.board.qna.QnaReplyDTO" alias="QnaReplyDTO" />
  	     <typeAlias type="com.home.middle.util.Pager" alias="Pager"/>
  	    <typeAlias type="java.lang.Long" alias="Long" />
  		
  		
  		<typeAlias type="com.home.middle.cart.CartDTO" alias="CartDTO"/> 
  		
  		<typeAlias type="com.home.middle.member.MemberDTO" alias="MemberDTO"/>
  		<typeAlias type="com.home.middle.member.RoleDTO" alias="RoleDTO"/>
 		<typeAlias type="java.lang.String" alias="String"/>
  		
  		
  		
	</typeAliases>
</configuration>