<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.home.middle.product.ProductDAO">
 
 	<select id="getProductNum" resultType="Long">
  		SELECT PRODUCT_SEQ.NEXTVAL FROM DUAL
  	</select>
  	
  	
  	<select id="getProductList" resultType="ProductDTO" statementType="PREPARED">
  	SELECT PRODUCTNUM , PRODUCTNAME , DISCOUNT , DISCOUNTPERCENT  FROM PRODUCT
  	
  	</select>
  		
 	
 
 	 
  
 </mapper>