<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.home.middle.product.ProductDAO">
 
 	<select id="getProductNum" resultType="Long">
  		SELECT PRODUCT_SEQ.NEXTVAL FROM DUAL
  	</select>
  	
  	
  	<select id="getProductList" resultType="ProductDTO" statementType="PREPARED">
  	SELECT PRODUCTNUM , PRODUCTNAME , DISCOUNT , DISCOUNTPERCENT  FROM PRODUCT
  	
  	</select>
  	
 	<select id="getProductDetail" parameterType="ProductDTO" resultMap="productDetailResult">

	SELECT P.*, PO.* ,FI.* FROM PRODUCT P
	LEFT JOIN PRODUCTOPTION PO 
	ON PO.PRODUCTNUM   = P.PRODUCTNUM 
	LEFT JOIN PRODUCTFILES FI 
	ON FI.PRODUCTNUM  = P.PRODUCTNUM 
	WHERE P.PRODUCTNUM = #{productNum}
   </select> 
 	
 <!--type=""에는 최종리턴타입  -->
   <resultMap type="ProductDTO" id="productDetailResult">
   
	   <!--Primary Key  -->
	   <id column="PRODUCTNUM" property="productNum" />
	   <!-- 그외 나머지 -->
	   <result column="PRODUCTNAME" property="productName" />
	   <result column="DISCOUNT" property="discount" />
	   <result column="DISCOUNTPERCENT" property="discountPercent" />
	   <result column="PRODUCTSALES" property="productSales" />
	   <result column="CATEGORYNUM" property="categoryNum" />
	   
 	   <!-- 1:n 관계일 때  -->
 	   <collection property="productOptionDTOs" javaType="List" ofType="ProductOptionDTO">
 	    <id  column="OPTIONNUM"  property="optionNum" />
 	    <result  column="PRODUCTNUM" property="productNum"/>
        <result  column="PRODUCTPRICE" property="productPrice"/>
    	<result  column="PRODUCTSTOCK" property="productStock"/>
    	<result  column="OPTIONNAME" property="optionName"/>
    	<result  column="PRODUCTDATE" property="productDate"/>
    	<result  column="OPTIONVALUE" property="optionValue"/>
    	<result  column="REF" property="ref"/>
    	<result  column="DEPTH" property="depth"/>
    	<result  column="STEP" property="step"/>
 	   </collection>
 	 
 	   <collection property="productImgDTOs" javaType="List" ofType="ProductImgDTO" >
 	    <id  column="FILENUM"  property="fileNum" />
        <result  column="NUM" property="num"/>
    	<result  column="FILENAME" property="fileName"/>
    	<result  column="ORINAME" property="oriName"/>
 	   </collection>
 	   
 	    <!-- 1:1 관계일 때 -->
    	<!--<association property="" javaType="">-->
   </resultMap>
   
   
   	<insert id="setProductAdd" parameterType="ProductDTO">
		<selectKey keyProperty="productNum" resultType="Long" order="BEFORE">
		SELECT PRODUCT_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO PRODUCT 
		VALUES (#{productNum}, #{productName}, #{discount},#{discountPercent} , #{productSales}, #{categoryNum})
	</insert>
	
	<insert id="setProductFileAdd" parameterType="ProductImgDTO">
		INSERT INTO PRODUCTFILES
		VALUES (PRODUCTFILES_SEQ.NEXTVAL, #{productNum},1, #{fileName}, #{oriName})
	</insert>
    
    <select id="productOptionNum" resultType="Long">
		SELECT PRODUCTOPTION_SEQ.NEXTVAL FROM DUAL
	</select>
	
 	<insert id="productOptionAdd0" parameterType="ProductOptionDTO">
 		INSERT INTO PRODUCTOPTION (OPTIONNUM, PRODUCTNUM, OPTIONNAME, OPTIONVALUE, PRODUCTPRICE, PRODUCTSTOCK, REF, DEPTH)
 		VALUES (#{optionNum}, #{productNum}, #{optionName}, #{optionValue}, #{productPrice}, #{productStock}, #{ref}, #{depth})
 	</insert>
    
    <select id="doGetOption" parameterType="ProductOptionDTO" resultType="ProductOptionDTO" >
    
    SELECT * FROM PRODUCTOPTION WHERE 
    (REF IN (SELECT OPTIONNUM  FROM PRODUCTOPTION  WHERE (OPTIONVALUE IN #{optionValue} ))AND PRODUCTNUM IN #{productNum} AND DEPTH IN #{depth})
   
    </select>
    
    <!--  <resultMap type="ProductOptionDTO" id="productOptionDTOs">
   
	   Primary Key 
	    <id  column="OPTIONNUM"  property="optionNum" />
 	    <result  column="PRODUCTNUM" property="productNum"/>
        <result  column="PRODUCTPRICE" property="productPrice"/>
    	<result  column="PRODUCTSTOCK" property="productStock"/>
    	<result  column="OPTIONNAME" property="optionName"/>
    	<result  column="PRODUCTDATE" property="productDate"/>
    	<result  column="OPTIONVALUE" property="optionValue"/>
    	<result  column="REF" property="ref"/>
    	<result  column="DEPTH" property="depth"/>
    	<result  column="STEP" property="step"/>
    	
 	   1:n 관계일 때 
 	   <collection property="productOptionDTOs" javaType="List" ofType="ProductOptionDTO">
 	    <id  column="OPTIONNUM"  property="optionNum" />
 	    <result  column="PRODUCTNUM" property="productNum"/>
        <result  column="PRODUCTPRICE" property="productPrice"/>
    	<result  column="PRODUCTSTOCK" property="productStock"/>
    	<result  column="OPTIONNAME" property="optionName"/>
    	<result  column="PRODUCTDATE" property="productDate"/>
    	<result  column="OPTIONVALUE" property="optionValue"/>
    	<result  column="REF" property="ref"/>
    	<result  column="DEPTH" property="depth"/>
    	<result  column="STEP" property="step"/>
 	   </collection>
     -->
    
 </mapper>