<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
	<mapper namespace="com.home.middle.product.ProductDAO">
	
	<insert id="setProductAdd" parameterType="ProductDTO">
		<selectKey keyProperty="productNum" resultType="Long" order="BEFORE">
			SELECT PRODUCT_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO PRODUCT 
		VALUES (#{productNum}, #{productName}, #{discount},#{discountPercent} , #{productSales}, #{categoryNum})
	</insert>
	
	<insert id="setProductFileAdd" parameterType="ProductImgDTO">
		INSERT INTO PRODUCTFILES
		VALUES (PRODUCTFILES_SEQ.NEXTVAL, #{productNum}, #{fileName}, #{oriName})
	</insert>
	
	<select id="getProductList" resultType="ProductDTO" >
		SELECT PRODUCTNAME, DISCOUNT, DISCOUNTPERCENT, PRODUCTSALES 
		FROM PRODUCT ORDER BY PRODUCTNUM DESC
	</select>	
	
	<update id="setProductUpdate" parameterType="ProductDTO">
		UPDATE PRODUCT 
		SET PRODUCTNAME = #{productName}, DISCOUNT = #{discount}, DISCOUNTPERCENT = #{discountPercent}, PRODUCTSALES = #{productSales}, CATEGORYNUM = #{categoryNum}
		WHERE PRODUCTNUM = #{productNum}
	</update>
	
	<delete id="setProductFileDelete" parameterType="Long">
		DELETE PRODUCTFILES
		WHERE FILENUM=#{fileNum}
	</delete>
	
	</mapper>  