<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
   <mapper namespace="com.home.middle.board.qna.QnaDAO">

	<sql id="qnaCondition">
  		<where>
  			<if test="kind=='contents'">
  				CONTENTS LIKE '%'||#{search}||'%'
  			</if>
  			<if test="kind=='id'">
  				ID LIKE '%'||#{search}||'%'
  			</if>
  		</where>
  	</sql>
  
	<select id="getTotalCount" resultType="Long">
  		SELECT COUNT (NUM) FROM QNA
  		
  	</select>
    
      <select id="getBoardList" parameterType="Pager" resultType="QnaDTO">
	 	  	SELECT * FROM
	  	(
		  	SELECT ROWNUM R, N.* FROM
		  		(
			  		SELECT NUM, ID ,PRODUCTNUM,TITLE,CONTENTS, REGDATE,DEPTH FROM QNA
			  		<include refid="qnaCondition"></include>
			  		ORDER BY DEPTH DESC
		  		) N
	  	 )
	  	WHERE R BETWEEN #{startRow} AND  #{lastRow}	  
  	 </select>
    
    
    <!--글쓰기 -->
    <insert id="setBoardAdd" parameterType="QnaDTO"  >
    <!--파일 추가같이하고 싶으면 넣어라 -->
 	<!-- <selectKey keyProperty="num" resultType="Long" order="BEFORE">
      SELECT REVIEW_SEQ.NEXTVAL FROM DUAL
    </selectKey> -->
    
    INSERT INTO QNA (NUM,ID,TITLE,CONTENTS,REGDATE,HIT,DEPTH,PRODUCTNUM)
	VALUES(QNA_SEQ.NEXTVAL,#{id},#{title},#{contents},sysdate,0,0,#{productNum})
    </insert>
    
    
   <delete id="setBoardDelete" parameterType="BbsDTO">
	DELETE QNA WHERE  NUM = #{num}
	</delete>
    
    <!--파일 추가-->
    <insert id="setProductFileAdd" parameterType="QnaDTO">
	INSERT INTO QNAFILES
	VALUES (QNA_FILE_SEQ.NEXTVAL, #{num}, #{fileName}, #{oriName})
	</insert>
	
	<select id="getBoardFileList" parameterType="BbsDTO" resultType="BoardFileDTO">
  		SELECT * FROM QNAFILES WHERE NUM=#{num}
  	</select>
      
</mapper>